<section class="footer visually-hidden">
  <div class="container">
    <div class="footer-info">
      <p>&copy; 2026 | All Rights Reserved |</p>
      <div class="footer-info__developed">
        <span>Developed with</span>
        <svg class="footer-info__icon">
          <use href="./images/icons/sprite.svg#heart"></use>
        </svg>
        <span
          >by
          <a
            class="footer-info__link"
            href="https://github.com/inhamostova"
            target="_blank"
            rel="noopener noreferrer"
            >Inga Mostova</a
          ></span
        >
      </div>
    </div>
  </div>
</section>
