.nav__list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav__list__link {
  line-height: calc(14 / 12);
  color: var(--white-color);
  text-transform: uppercase;

  &.current {
    border-bottom: 3px solid var(--red-color);
  }
}
