.tui-pagination {
  margin: 0 auto;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 374px;
  }
}

.tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 5px;

  text-decoration: none;

  color: var(--main-txt-color);

  transition: background-color var(--transition);

  &:hover {
    background-color: var(--grey-bg-color);
  }

  &.tui-is-selected:hover {
    background-color: var(--accent-secondary-color);
    color: var(--white-color);
  }
}

.tui-is-selected {
  width: 40px;
  background-color: var(--accent-secondary-color);
  color: var(--white-color);
}

.tui-is-disabled {
  opacity: 0.35;
  pointer-events: none;
}

.tui-ico-prev,
.tui-ico-next,
.tui-ico-first,
.tui-ico-last {
  font-size: 0;
}

.tui-prev,
.tui-next {
  background-color: var(--grey-bg-color);
  background-repeat: no-repeat;
  background-position: center;
}

.tui-prev {
  background-image: url('../images/pagination/arrow-left.svg');
}

.tui-next {
  background-image: url('../images/pagination/arrow-right.svg');
}

.tui-last,
.tui-first {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}

.tui-first {
  background-image: url('../images/pagination/double-arrow-left.svg');
}

.tui-last {
  background-image: url('../images/pagination/double-arrow-right.svg');
}

.tui-last-child,
.tui-last,
.tui-first {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
