.search-form {
  position: relative;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.search-form__input {
  width: 100%;
  padding: 0;
  padding-left: 1px;
  padding-bottom: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  color: #ffffff;

  &::placeholder {
    font-size: 14px;
    line-height: calc(16 / 14);
    font-weight: 400;
    color: #ffffff;
  }

  &:focus {
    outline: none;
  }
}

.search-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
