.search-form {
  position: relative;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.search-form__input {
  width: 100%;
  padding: 0;
  padding-left: 1px;
  padding-bottom: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid var(--white-color);
  color: var(--white-color);

  &::placeholder {
    font-size: 14px;
    line-height: calc(16 / 14);
    font-weight: 400;
    color: var(--white-color);
  }

  &:focus {
    outline: none;
  }
}

.search-form__input:-webkit-autofill,
.search-form__input:-webkit-autofill:hover,
.search-form__input:-webkit-autofill:focus,
.search-form__input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--white-color);
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 9999s ease-in-out 0s;
}

.search-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-form__icon {
  width: 12px;
  height: 12px;
  color: var(--white-color);

  & use {
    stroke: currentColor;
    fill: transparent;
  }
}
